<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="xs-section-heading2 text-center">
            <h2>Calendario de <span>discliplinas</span></h2>
            <p>Consulta tu clase e instructor favorito dándole click.</p>
        </div>
    </div>
</div>

<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round align-self-center round-success"><i class="ti-wallet"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0">4</h3>
                        <h5 class="text-muted m-b-0">Disciplinas</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round align-self-center round-info"><i class="ti-user"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0">6</h3>
                        <h5 class="text-muted m-b-0">Profesores</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round align-self-center round-danger"><i class="ti-calendar"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0">365</h3>
                        <h5 class="text-muted m-b-0">Trabajamos</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round align-self-center round-warning"><i class="ti-power-off"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0">4</h3>
                        <h5 class="text-muted m-b-0">salones</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- Row -->

<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-4">
        <div class="card">
            <img class="card-img-top img-responsive" src="../assets/images/big/nosotros_pump.png" alt="Card image cap">
            <div class="card-body">

                <h3 class="font-normal">Energy Pump </h3>
                <!-- <p class="m-b-0 m-t-10">Combina movimientos aeróbicos y anaeróbicos con barra, logrando así una quema calórica y aumentando la fuerza y resistencia; Con el principal objetivo de lograr la tonificación muscular..</p> -->
                <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Saber más</button>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-4">
        <div class="card">
            <img class="card-img-top img-responsive" src="../assets/images/big/nosotros_combat.png" alt="Card image cap">
            <div class="card-body">
                <!-- <ul class="list-inline font-14">
                    <li class="p-l-0">20 May 2016</li>
                    <li><a href="javascript:void(0)" class="link">3 Comment</a></li>
                </ul> -->
                <h3 class="font-normal">Indoor Cycling</h3>
                <!-- <p class="m-b-0 m-t-10">45 minutos al ritmo de la música</p> -->
                <!-- <p class="m-b-0 m-t-10">Ejercita tu cuerpo a través de 45 minutos al ritmo de la música. Lleva tu mente al límite con nuestras rutinas diseñadas para quemar hasta 800 Kcal. de manera dinámica y efectiva. Saldrás motivado y lleno de energía para regresar.</p> -->
                <a [routerLink]="['/calendario']" class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Saber más</a>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-4">
        <div class="card">
            <img class="card-img-top img-responsive" src="../assets/images/big/nosotros_cycling.png" alt="Card image cap">
            <div class="card-body">
                <!-- <ul class="list-inline font-14">
                    <li class="p-l-0">20 May 2016</li>
                    <li><a href="javascript:void(0)" class="link">3 Comment</a></li>
                </ul> -->
                <h3 class="font-normal">Energy Combat</h3>
                <!-- <p class="m-b-0 m-t-10">Entrenamiento cardiovascular con movimientos basados en distintas artes marciales siguiendo el ritmo de una base musical combinado con Tabata (trabajo de intervalos, muy intenso, de corta duración). Principal objetivo: quemar grasa y aumentar
                    la condición física.</p> -->
                <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Saber más</button>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-lg-4">
        <div class="card">
            <img class="card-img-top img-responsive" src="../assets/images/big/nosotros_functional.png" alt="Card image cap">
            <div class="card-body">
                <!-- <ul class="list-inline font-14">
                    <li class="p-l-0">20 May 2016</li>
                    <li><a href="javascript:void(0)" class="link">3 Comment</a></li>
                </ul> -->
                <h3 class="font-normal">Functional Training</h3>
                <!-- <p class="m-b-0 m-t-10">Combina movimientos aeróbicos y anaeróbicos, logrando así una quema calórica y aumentando la fuerza y resistencia; Con el principal objetivo de lograr la tonificación muscular.</p> -->
                <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Saber más</button>
            </div>
        </div>
    </div>
</div>
<!-- Row -->