<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="xs-section-heading2 text-center">
            <h2>Calendario de <span>disciplinas</span></h2>
            <p class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-chart-bubble"></i><span class="hide-menu">Clases disponibles   <span class="label label-rouded label-success pull-right ml-2 mt-1">{{ clasesDisp }}</span></span>
            </p> <br>
            <p class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-calendar"></i><span class="hide-menu">Fecha de vencimiento  <span class="label label-rouded label-info pull-right ml-2 mt-1">{{ fechaVenc }}</span></span>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <button (click)="cambiarDesde( -6 )" class="btn btn-secondary">Anteriores</button>
            </li>

            <li class="page-item">
                <button (click)="cambiarDesde( 6 )" class="btn btn-warning">Siguientes</button>
            </li>
        </ul>
    </nav>
</div>

<div class="live__scroll">
    <div class="row text-center">
        <div *ngFor="let calendario of objCalendario" class="col-md-2 text-center live__scroll--box">
            <h3 class="text-white">{{calendario.dia}}</h3>
            <h5 class="naranja">{{calendario.fecha| date:'yyyy-MM-dd'}}</h5>
            <div *ngFor="let obj of calendario.clases" class="card text-white bg-dark mb-1 punto mx-auto" style="max-width: 18rem;">
                <a data-toggle="modal" (click)="abrirModal(obj._id)" data-target=".bd-example-modal-lg">
                    <div class="card-header text-center">{{obj.coach_id.alias}}</div>
                    <div class="card-body">
                        <h5 class="card-title text-center naranja">{{obj.disciplina_id.nombre}}</h5>
                        <p class="card-text text-center"><small>{{obj.horario}}</small></p>
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content negro">
                <div class="modal-header">
                    <h5 class="modal-title text-white">Seleccione su lugar </h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                </div>
                <div *ngFor="let clase of objClase" class="modal-body text-white text-center">

                    <tr *ngFor="let obj of clase.clases">
                        <div class="col-12 bg-dark pb-1">

                            <div class="card align-middle negro">
                                <div class="card text-center bg-dark">
                                    <div class="card-body ">
                                        <h5 class="card-title naranja">{{obj.disciplina_id.nombre}}</h5>
                                        <h5 class="card-title text-success">{{obj.horario}}</h5>

                                        <ul _ngcontent-ubd-c6="" class="list-inline soc-pro m-t-30 text-center text-white">
                                            <li aria-disabled=""> <a class="waves-effect waves-dark" routerLinkActive="active" aria-expanded="false"><i class="{{obj.icono}} naranja"></i><span class="hide-menu">Disponible</span></a></li>
                                            <li> <a class="waves-effect waves-dark" routerLinkActive="active" aria-expanded="false"><i class="{{obj.icono}} text-muted"></i><span class="hide-menu">Ocupado</span></a></li>
                                            <li> <a class="waves-effect waves-dark" routerLinkActive="active" aria-expanded="false"><i class="{{obj.icono}}"></i><span class="hide-menu">Coach</span></a></li>
                                        </ul>
                                        <h5 class="card-title text-white">Elige tu lugar</h5>
                                    </div>
                                </div>
                                <div class="card-body col-12">
                                    <ul _ngcontent-ubd-c6="" class="list-inline soc-pro  text-center text-warning">
                                        <li class="gg">

                                            <a>
                                                <i class="fa fa-hand-rock-o text-white"></i>
                                            </a>
                                        </li>

                                    </ul>
                                    <ul *ngFor="let esp of obj.espacios" _ngcontent-ubd-c6="" class="list-inline soc-pro  text-center text-warning">


                                        <li *ngFor="let col of esp.columnas" class="gg">


                                            <a (click)="apartarLugar(col.posicion, col.fila, obj._id,esp._id,col._id, col.usuario_id)">
                                                <i class="{{obj.icono}} naranja {{col.color}}" [ngClass]="{'text-info': col.usuario_id==existeId}"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card bg-dark">
                                    <div class="card-body">
                                        <img src="{{ kenny() }}/uploads/coaches/{{obj.coach_id.img}}" width="30%" class="card-img-top" alt="...">

                                        <h5 class="card-title naranja">{{obj.coach_id.alias}}</h5>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card bg-dark">
                                    <div class="card-body">
                                        <img src="{{ kenny() }}/uploads/disciplinas/{{obj.disciplina_id.img}}" width="2%" height="2%" class="card-img-top" alt="...">

                                        <h5 class="card-title naranja">{{obj.disciplina_id.nombre}}</h5>

                                    </div>
                                </div>
                            </div>

                        </div>




                    </tr>




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</div>