<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/inicio']">
        <img src="https://qatro-server.herokuapp.com/assets/proyecto/logoqatro.png" width="100" height="30" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>




    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="active" class="nav-link" [routerLink]="['/inicio']">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" target="true" href="https://qatro.fit/">Nosotros</a>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Qatro
            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a *ngFor="let data of obj" routerLink="active" class="dropdown-item" [routerLink]="[data.url]">{{data.titulo}}</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/perfil']">Perfil</a>
            </li>
        </ul>
        <li class=" my-2 my-lg-0">
            <a (click)="usuarioService.logout()" [routerLink]="['/login']">Salir</a>
        </li>
    </div>
</nav>