<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscar( input.value )" class="form-control" type="text" placeholder="Buscar disciplina...">
            </div>

        </div>

    </div>

</div>
<div class="col-sm-12" *ngIf="cargando">
    <div class="alert alert-warning text-center">
        <strong>Cargando</strong>
        <br>
        <i class="fa fa-refresh fa-spin fa-2x"></i>
        <br>
        <span>Espere por favor</span>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button (click)="nuevo()" data-toggle="modal" data-target=".bd-example-modal-lg" class="btn waves-effect waves-light btn-rounded btn-info">
                        <i class="fa fa-plus">           
                        </i>  Crear disciplinas</button>
                </div>
                <h3 class="card-title">Disciplinas registrados (<small>{{this.totalRegistros}}</small>)</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>tipo</th>

                            <th class="text-center">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let obj of objeto">
                            <td class="w70"><img data-toggle="modal" data-target="#cargaImagenes" (click)="hola(obj)" class="img-50 img-circle" src="{{ obj.img | imagen: 'disciplina' }}" alt=""></td>
                            <td>{{obj.nombre}}</td>
                            <td> <i class="{{obj.tipo}}"></i> </td>
                            <td class="text-center">
                                <button (click)="actulizar(obj)" data-toggle="modal" data-target=".bd-example-modal-lg" class="btn btn-info"><i class="fas fa-edit"></i></button>
                                <button (click)="borrar(obj)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        <button (click)="cambiarDesde(-6)" class="btn btn-secondary m-auto">Anteriores</button>
                        <button (click)="cambiarDesde(6)" class="btn btn-secondary m-auto">Siguientes</button>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cargaImagenes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <div class="card">
                        <div class="car-body text-center">
                            <h4 class="card-title">Fotografía de la disciplina</h4>
                            <h6 class="card-subtitle">{{disciplina?.nombre}}</h6>
                            <img *ngIf="!imagenTemp" class="w150" [src]="disciplinaModify?.img | imagen" alt="">
                            <img *ngIf="imagenTemp" class="w150" [src]="imagenTemp" alt="">
                            <input (change)="seleccionImagen( $event.target.files[0] )" type="file">
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button (click)="traerDatos()" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button (click)="cambiarImagen()" [disabled]="!imagenSubir" type="button" class="btn btn-success">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Módulo de disciplinas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarDisciplina(f)">
                <div class="modal-body">
                    <div class="card-body blanco">

                        <div class="form-group">
                            <label for="formGroupExampleInput">Nombre de la disciplina</label>
                            <input [(ngModel)]="disciplina.nombre" name="nombre" type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese el nombre" required>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Tipo de disciplina</label>
                            <select [(ngModel)]="disciplina.tipo" name="tipo" class="form-control" id="exampleFormControlSelect1" data-show-icon="true" required>
                              <option value="" selected>Seleccione un tipo</option>
                              <option value="fas fa-fist-raised">Tipo box</option>
                              <option value="fas fa-biking">Tipo spinning</option>
                              <option value="fas fa-dumbbell">Tipo pesas</option>
                              <option value="fas fa-fire-alt">Tipo flama</option>
                              <option value="fas fa-heartbeat">Tipo cardio</option>                             
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Descripción</label>
                            <textarea [(ngModel)]="disciplina.descripcion" name="descripcion" class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>