<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscar( input.value )" class="form-control" type="text" placeholder="Buscar disciplina...">
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12" *ngIf="cargando">
    <div class="alert alert-warning text-center">
        <strong>Cargando</strong>
        <br>
        <i class="fa fa-refresh fa-spin fa-2x"></i>
        <br>
        <span>Espere por favor</span>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button (click)="this.nuevo()" data-toggle="modal" data-target=".bd-example-modal-lg" class="btn waves-effect waves-light btn-rounded btn-info">
                        <i class="fa fa-plus">           
                        </i>  Crear Paquete</button>
                </div>
                <h3 class="card-title">Paquetes registrados (<small>{{this.totalRegistros}}</small>)</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Clases</th>
                            <th>Vigencia</th>
                            <th>Precio Unitario</th>
                            <th>Precio Total</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let obj of paquetes">
                            <td>{{obj.nombre}}</td>
                            <td>
                                {{obj.numeroClases}}
                            </td>
                            <td>{{obj.vigencia}}</td>
                            <td>
                                $ {{obj.precioUnitario}}
                            </td>
                            <td>
                                $ {{obj.precioUnitario * obj.numeroClases | number:'1.0-0'}}
                            </td>
                            <td class="text-center">
                                <button (click)="cargaPaquetes(obj)" data-toggle="modal" data-target=".modalCarga" class="btn btn-success"><i class="fas fa-cart-arrow-down"></i>
                                </button>
                                <button (click)="actualizar(obj)" data-toggle="modal" data-target=".bd-example-modal-lg" class="btn btn-info"><i class="fas fa-edit"></i></button>
                                <button (click)="borrar(obj)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        <button (click)="cambiarDesde(-6)" class="btn btn-secondary m-auto">Anteriores</button>
                        <button (click)="cambiarDesde(6)" class="btn btn-secondary m-auto">Siguientes</button>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Módulo de Paqutes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarElemento(f)">

                <div class="modal-body">

                    <div class="card-body blanco">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Nombre del paquete</label>
                            <input [(ngModel)]="paqueteG.nombre" name="nombre" type="text" class="form-control" placeholder="Ingrese el nombre" required>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="formGroupExampleInput">Número de clases</label>
                                <input [(ngModel)]="paqueteG.numeroClases" name="numeroClases" type="number" class="form-control" placeholder="0" required>
                            </div>
                            <div class="col">
                                <label for="formGroupExampleInput">Número de dias para la vigencia</label>
                                <input [(ngModel)]="paqueteG.vigencia" name="vigencia" type="number" class="form-control" i placeholder="0" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="formGroupExampleInput">Precio unitario</label>
                                <input [(ngModel)]="paqueteG.precioUnitario" name="precioUnitario" type="number" class="form-control" placeholder="0" required>
                            </div>
                            <div class="col">
                                <label for="formGroupExampleInput">Precio total</label>
                                <input type="number" class="form-control" value="{{this.valorTotal}}" disabled>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>

        </div>
    </div>
</div>



<div class="modal fade modalCarga" tabindex="-1" role="dialog" aria-labelledby="cargaPaquete" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Venta de paquetes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <div class="card-body blanco">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header bg-info">
                                    <h4 class="m-b-0 text-white">Resumen de venta</h4>
                                </div>
                                <div class="card-body">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-body">
                                            <h3 class="box-title">{{this.nombrePaquete}}</h3>
                                            <hr class="m-t-0 m-b-40">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-6">Número de clases:</label>
                                                        <div class="col-md-6">
                                                            <p class="form-control-static"> {{this.numeroClases}} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-6">Vigencia:</label>
                                                        <div class="col-md-6">
                                                            <p class="form-control-static"> {{this.vigencia}} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-6">Precio Unitario:</label>
                                                        <div class="col-md-6">
                                                            <p class="form-control-static">$ {{this.precioUnitario}} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-right col-md-6">Total de la venta:</label>
                                                        <div class="col-md-6">
                                                            <p class="form-control-static"> $ {{this.valorTotal}} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row animated fadeIn">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <input #input (keyup)="busquedaUsuario( input.value )" class="form-control" type="text" placeholder="Buscar usuario...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" *ngIf="cargando">
                        <div class="alert alert-warning text-center">
                            <strong>Cargando</strong>
                            <br>
                            <i class="fa fa-refresh fa-spin fa-2x"></i>
                            <br>
                            <span>Espere por favor</span>
                        </div>
                    </div>
                    <div class="row animated fadeIn" *ngIf="!cargando">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Correo</th>
                                                <th>Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let obj of usuarios">
                                                <td>{{obj.name}} {{ obj.apellidoPaterno }} {{ obj.apellidoMaterno }}</td>

                                                <td>{{obj.email}}</td>

                                                <td class="text-center">
                                                    <button (click)="comprar(obj)" class="btn btn-warning" data-dismiss="modal"><i class="fas fa-sign-out-alt"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>