<footer class="section footer-classic context-dark bg-image" style="background: #1D2124;">
    <div class="container">
        <div class="row row-30">

            <div class="col-md-4">
                <h5>Conócenos</h5>
                <dl class="contact-list">

                    <dd>Calle 30 x 41 #333, San Ramón Nte Mérida, Yucatán </dd>
                </dl>
                <dl class="contact-list">
                    <dt>Email:</dt>
                    <dd><a href="mailto:#">qatrofit@gmail.com</a></dd>
                </dl>
                <dl class="contact-list">
                    <dt>Telefono:</dt>
                    <dd><a href="tel:#">999 912 7314</a>
                    </dd>
                </dl>
            </div>
            <div class="col-md-4 col-xl-3">
                <h5>Horario</h5>
                Lunes a Viernes <br> 7:00-11:00, 17:30-21:00 <br> Sabados <br> 08:00 - 12:00
            </div>
            <div class="col-md-4 col-xl-5">
                <div class="pr-xl-4">
                    <a class="brand" href="index.html"><img class="brand-logo-light" src="https://qatro-server.herokuapp.com/assets/proyecto/full.jpg" alt="" width="100%" height="200" srcset="https://qatro-server.herokuapp.com/assets/proyecto/full.jpg"></a>

                </div>
            </div>
        </div>
    </div>


    <div class="row no-gutters social-container text-center">
        <div class="col">

            © Copyright 2019 | qatro | Todos los derecho reservados | Desarrollado por QATRO

            <span class="icon mdi mdi-facebook ora"></span>
            <span class="icon mdi mdi-instagram ora"></span>
            <span class="icon mdi mdi-youtube-play ora"></span>
            <span class="icon mdi mdi-twitter ora"></span>
        </div>
    </div>

</footer>