<div class="row">
    <div class="col-lg-8 mx-auto">

        <div class="xs-section-heading2 text-center">
            <h2><span>Paquetes</span> a tu disposición</h2>
            <p>Consulta el paquete que más te beneficie.</p>
        </div>
    </div>
</div>
<div class="row">
    <div *ngFor="let paq of objPaquetes" class="col-lg-3 col-md-4 col-sm-3 col-xs-12 ">

        <div class="ribbon-wrapper card negro">
            <div class="ribbon ribbon-bookmark  ribbon-warning">{{paq.num_clases}} Clases</div>
            <div class="text-right"> <span class="text-muted">{{paq.vigencia}} Días de vigencia
            </span>
                <h1 class="text-muted"><sup><i class=" ti-arrow-up text-danger "></i></sup> ${{paq.precio_unit}} <small><small><small><small><span class="text-muted">p/c
                        </span></small></small>
                    </small>
                    </small>
                </h1>
            </div>
            <br/>
        </div>

    </div>
</div>